#collectBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #de5aff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow-x: auto;
}

#centerlayout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    /* Allows stacking on small screens */
}

.leftstuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.rightstuff {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.imgbtn:hover {
    background-color: #ffffff17;
    box-shadow: 0 0 5px black;
    margin-top: -2px;
    transition: all 0.1s ease;
}

.verticalL {
    border-left: 2px solid black;
    height: 60px;
    margin-right: 15px;
}

.imgbtn {
    border-radius: 40px;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    overflow: visible;
}

#titlecont {
    display: flex;
    align-items: center;
    gap: 4px;
}

#userCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -30px;
}