#binderBanner {
    position: fixed;
    top: 0;
    padding-top: 40px; /* offsets the shop to be centered */
    padding-bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100001;
}

.binderCont {
    background-color: #33122e;
    width: 60%;
    margin-top: 30px;
    margin: auto;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: White;
}

.singleI {
    background-color: rgb(66, 51, 66);
    padding: 10px;
    border-radius: 20px;
    width: 110px;
    box-shadow: 0 0 5px black;
}

#closeBinder {
    margin-top: 20px;
    background-color: rgb(255, 233, 233);
    border: transparent;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
}

#closeBinder:hover {
    background-color: rgb(112, 106, 106);
}

#binderItems {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 30px;
    overflow-y: auto;
    height: 70vh;
}

/* Scrollbar track (background) */
#binderItems::-webkit-scrollbar {
    width: 15px;
    /* width of vertical scrollbar */
    border-radius: 3px;
}

/* Scrollbar track */
#binderItems::-webkit-scrollbar-track {
    background: #4b2b46;
}

/* Scrollbar thumb (the draggable handle) */
#binderItems::-webkit-scrollbar-thumb {
    background-color: #a3a1a3;
    /* color of the thumb */
}

/* Scrollbar thumb on hover */
#binderItems::-webkit-scrollbar-thumb:hover {
    background-color: #391b3f;
}

#binderCont {
    gap: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    border: 10px solid rgb(219, 77, 101);
    padding: 20px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}