#binderBanner {
    position: fixed;
    top: 0;
    padding-top: 40px; /* offsets the shop to be centered */
    padding-bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5001;
}

.binderCont {
    background-color: #33122e;
    width: 60%;
    margin-top: 30px;
    margin: auto;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: White;
}

.singleI {
    background-color: rgb(66, 51, 66);
    padding: 15px;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    box-shadow:
        /* 1. Outer shadow to ground the object on the page */
        0 10px 20px rgba(0, 0, 0, 0.3),
        /* 2. Inner dark shadow: creates the 'drop' from the border rim */
        inset 0 6px 12px rgba(0, 0, 0, 0.5),
        /* 3. Inner light highlight: creates a 'lip' on the opposite edge */
        inset 0 -2px 8px rgba(255, 255, 255, 0.2);
    background:
        /* The "3D Printed" Streaks Layer */
        repeating-radial-gradient(circle at 50% 50%,
            rgba(0, 0, 0, 0.08) 0px,
            rgba(0, 0, 0, 0.08) 1px,
            transparent 1px,
            transparent 3px);
}

#closeBinder {
    margin-top: 20px;
    background-color: rgb(255, 233, 233);
    border: transparent;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
}

#closeBinder:hover {
    background-color: rgb(112, 106, 106);
}

#binderItems {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 45px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
}

/* Scrollbar track (background) */
#binderItems::-webkit-scrollbar {
    width: 15px;
    /* width of vertical scrollbar */
    border-radius: 3px;
}

/* Scrollbar track */
#binderItems::-webkit-scrollbar-track {
    background: #4b2b46;
}

/* Scrollbar thumb (the draggable handle) */
#binderItems::-webkit-scrollbar-thumb {
    background-color: #a3a1a3;
    /* color of the thumb */
}

/* Scrollbar thumb on hover */
#binderItems::-webkit-scrollbar-thumb:hover {
    background-color: #391b3f;
}

#binderCont {
    gap: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    border: 10px solid rgb(219, 77, 101);
    padding: 20px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}