.crate {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 14px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 22px;
    cursor: pointer;
    border: transparent;
}

.buym {
    border: transparent;
    box-shadow: 0 0 5px black;
    border-radius: 45px;
    width: 50px;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

.buttonSources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
}

.buymCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: -260px;
    scale: 0.75;
}

#openCratesBtn {
    background-color: #ffffff;
    border: transparent;
    position: fixed;
    border-radius: 100px;
    padding: 20px;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 1000;
    scale: 0.6;
    box-shadow: 0 0 5px black;
    overflow: visible;
}

#openCratesBtn:hover {
    background-color: #a3a3a3;
}

#cratesCont {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #3e1e42;
    padding: 20px;
    border-radius: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 5px black;
}

#crate1_b5 {
    background-color: rgb(245, 88, 88);  
}

#crate1_b10 {
    background-color: rgb(245, 88, 88); 
}

#crate1_b5:hover {
    background-color: rgb(184, 66, 66); 
    box-shadow: 0 0 30px white;
}

#crate1_b10:hover {
    background-color: rgb(184, 66, 66); 
    box-shadow: 0 0 30px white;
}

/* crate 1 */
#crate1 {
    background-color: rgb(245, 88, 88); 
}

#crate1:hover {
    background-color: rgb(184, 66, 66); 
    box-shadow: 0 0 30px white;
}

#crate2_b5 {
    background-color: rgb(250, 250, 114);
}

#crate2_b10 {
    background-color: rgb(250, 250, 114);
}

#crate2_b5:hover {
    background-color: rgb(196, 196, 91);
    box-shadow: 0 0 30px white;
}

#crate2_b10:hover {
    background-color: rgb(196, 196, 91);
    box-shadow: 0 0 30px white;
}

/* crate 2 */
#crate2 {
    background-color: rgb(250, 250, 114);
}

#crate2:hover {
    background-color: rgb(196, 196, 91);
    box-shadow: 0 0 30px white;
}

#crate3_b5 {
    background-color: rgb(128, 255, 128);
}

#crate3_b10 {
    background-color: rgb(128, 255, 128);
}

#crate3_b5:hover {
    background-color: rgb(94, 179, 94);
    box-shadow: 0 0 30px white;
}

#crate3_b10:hover {
    background-color: rgb(94, 179, 94);
    box-shadow: 0 0 30px white;
}

/* crate 3 */
#crate3 {
    background-color: rgb(128, 255, 128);
}

#crate3:hover {
    background-color: rgb(94, 179, 94);
    box-shadow: 0 0 30px white;
}

#crate4_b5 {
    background-color: lightskyblue;
}

#crate4_b10 {
    background-color: lightskyblue;
}

#crate4_b5:hover {
    background-color: rgb(101, 152, 184);
    box-shadow: 0 0 30px white;
}

#crate4_b10:hover {
    background-color: rgb(101, 152, 184);
    box-shadow: 0 0 30px white;
}

/* crate 4 */
#crate4 {
    background-color: lightskyblue;
}

#crate4:hover {
    background-color: rgb(101, 152, 184);
    box-shadow: 0 0 30px white;
}

#crate5_b5 {
    background-color: rgb(219, 143, 255);
}

#crate5_b10 {
    background-color: rgb(219, 143, 255);
}

#crate5_b5:hover {
    background-color: rgb(162, 107, 187);
    box-shadow: 0 0 30px white;
}

#crate5_b10:hover {
    background-color: rgb(162, 107, 187);
    box-shadow: 0 0 30px white;
}

/* crate 5 */
#crate5 {
    background-color: rgb(219, 143, 255);
}

#crate5:hover {
    background-color: rgb(162, 107, 187);
    box-shadow: 0 0 30px white;
}