#helpBanner {
    position: fixed;
    top: 0;
    padding-top: 40px; /* offsets the shop to be centered */
    padding-bottom: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100001;
}

.helpCont {
    background-color: rgb(39, 39, 39);
    width: 60%;
    margin-top: 30px;
    margin: auto;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: 6px solid rgb(44, 44, 44);
    text-align: center;
    align-items: center;
    justify-content: center;
    color: White;
    height: 800px;
}

#closeHelp {
    margin-top: 20px;
    background-color: rgb(255, 233, 233);
    border: transparent;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
}

#closeHelp:hover {
    background-color: rgb(112, 106, 106);
}

#htpDiv {
    text-align: left;
    overflow-y: auto;
    margin-top: 20px;
    max-height: 70vh;
}

/* Scrollbar track (background) */
#htpDiv::-webkit-scrollbar {
    width: 15px;
    /* width of vertical scrollbar */
    border-radius: 3px;
}

/* Scrollbar track */
#htpDiv::-webkit-scrollbar-track {
    background: #3a3a3a;
}

/* Scrollbar thumb (the draggable handle) */
#htpDiv::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    /* color of the thumb */
}

/* Scrollbar thumb on hover */
#htpDiv::-webkit-scrollbar-thumb:hover {
    background-color: #858585;
    display: none;
}