#achievementsButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#patchNotesButton {
    margin-top: 0px;
    /* idk why bro */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#patchNotesButton:hover {
    margin-top: -2px;
}

#leaderboardButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#chatRoomButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.pageButtons {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: transparent;
    scale: 0.8;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.pageButtons:hover {
    background-color: #ffffff17;
    box-shadow: 0 0 5px black;
    margin-top: -2px;
}