/* settings */
#settings {
    margin-top: 8px;
    top: 100px;
    right: 20px;
    background-color: #7d6381;
    width: 400px;
    padding-bottom: 10px;
    min-height: auto;
    height: auto;
    border-radius: 10px;
    text-align: center;
    position: static;
    flex-shrink: 1;
}

#searchbtn {
    background-color: #ecdcdc;
    border: transparent;
    border-radius: 10px;
    padding: 7px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 18px;
    cursor: pointer;
    scale: 0.8;
}

#searchbtn:hover {
    background-color: #d4bebe;
}

#sortcont {
    background-color: #3e1e42;
    margin: 10px;
    padding: 10px;
    border: transparent;
    border-radius: 10px;
}

option {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 18px;
}

/* search button */
#searchbar {
    gap: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 10px;
}

#searchbox {
    background-color: #e6e6e6;
    border: transparent;
    border-radius: 10px;
    width: 400px;
    padding: 4px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    cursor: text;
    scale: 0.85;
}

#selectSort {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    width: 300px;
    color: #000000;
    background-color: #fff0f5;
    border: transparents;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sellAll {
    border: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    height: 25px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #659c54;
    cursor: pointer;
}

#sellAll:hover {
    background-color: #568548;
}