.tooltip-container, .tooltip-chances {
    position: relative;
    display: inline-block;
}

.tooltip-chances {
    position: absolute;
    margin-right: 290px;
    margin-top: -40px;
    scale: 0.8;
    z-index: 20;
}

.tooltip-descCont {
    position: relative;
    display: inline-block;
    z-index: 1001;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1002;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    margin-left: 70px;
    text-align: left;
    pointer-events: none;
}

.tooltip-desc {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1003;
    left: 50%;
    bottom: -300%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 70px;
    text-align: left;
    width: 170px;
    min-height: 100px;
    max-height: 1000px;
    scale: 0.7;
    pointer-events: none;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-chances:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-container:hover {
    visibility: visible;
    opacity: 1;
}

.infobtn {
    background-color: #ffffff;
    border: transparent;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    scale: 1.1;
}

.infobtn:hover {
    background-color: #d4d4d4;
}