#useWish {
    background-image: linear-gradient(to right, #ffc72c, #fff27d);
    border: 4px solid red;
    color: red;
    border-radius: 55px;
    height: 100px;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.7;
    box-shadow: 0 0 5px black;
    transition: all 0.1s ease;
}

#useWish:hover {
    scale: 0.75; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); 
    border-color: #ff4500;
    color: #ff4500;
}

#customConfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100001;
}

.confirm-content {
    background-image: linear-gradient(to right, #ffc72c, #fff27d);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: 3px solid red;
    border-radius: 5px;
    text-align: center;
    color: red;
    /* Custom text color */
}

.confirmbtn {
    background-image: linear-gradient(to right, #ffc72c, #fff27d);
    border: 4px solid red;
    color: red;
    border-radius: 55px;
    height: 60px;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

.confirmbtn:hover {
    background-image: linear-gradient(to right, #d6a724, #ddd26b);
}