#XPTxt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -4px;
}

/* PB */
progress {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* empty */
progress::-webkit-progress-bar {
    background: #ddd;
    border-radius: 10px;
}

/* fill */
progress::-webkit-progress-value {
    border-radius: 10px;
    background: lightskyblue;
}

#XPinfo {
    display: flex;
    justify-content: center;
}