#XPTxt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -4px;
    transition: ease-in-out 0.3s;
}

/* Reset default progress styles */
progress {
  appearance: none;
  -webkit-appearance: none;
  width: 320px;
  height: 11px;
}

/* Background */
progress::-webkit-progress-bar {
  background: #1a1a1a;
  border-radius: 10px;
}

/* XP Fill */
progress::-webkit-progress-value {
  background: linear-gradient(
    90deg,
    #4facfe,
    #00f2fe
  );
  border-radius: 8px;
  transition: width 0.6s ease-out;
}

#XPinfo {
    display: flex;
    justify-content: center;
}