<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievements</title>
    <link rel="stylesheet" href="../static/css/achievements.css">
</head>
<body>
    <div id="achievementsBanner">
        <div class="leftstuff">
            <div style="display: none" id="userdata"><%= JSON.stringify(userdata) %></div>
            <h1 style="margin-left: 10px;">Achievements</h1>
            <h4 style="margin-top: -25px; color: white; margin-left: 20px;">User: <%= userdata.displayName %></h4>
        </div>
        <div class="rightstuff"></div>
            <a href="/collection" id="circleButton"> < </a>
        </div>
    </div>
    <div id="buttonBar">
        <button onclick="renderCollection()">Collection</button>
        <button onclick="renderLevel()">Level</button>
        <button onclick="renderProgression()">Progression</button>
        <button onclick="renderEconomy()">Economy</button>
        <button onclick="renderUnique()">Unique</button><br>
    </div>
    <div id="achievementsList">

    </div>
    <script type="module" src="../static/js/achievements.js"></script>
</body>
</html>