<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patch Notes</title>
    <link rel="stylesheet" href="../static/css/patch.css">
</head>
<body>
    <div id="patchBanner">
        <div class="leftstuff">
            <div style="display: none" id="userdata"><%= JSON.stringify(userdata) %></div>
            <h1 style="margin-left: 10px;">Patch Notes!</h1>
            <h4 style="margin-top: -25px; color: white; margin-left: 20px;">User: <%= userdata.displayName %></h4>
            <div style="display: none" id="maxPogs"><%= JSON.stringify(maxPogs) %></div>
        </div>
            <div class="rightstuff">
            <a href="/collection" id="circleButton"> < </a>
        </div>
    </div>