<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patch Notes</title>
    <link rel="stylesheet" href="../static/css/patch.css">
</head>
<body>
    <div id="patchBanner">
        <div class="leftstuff">
            <h1 style="margin-left: 10px;">Patch Notes!</h1>
            <h4 style="margin-top: -25px; color: white; margin-left: 20px;">User: <%= userdata.displayName %></h4>
        </div>
            <div class="rightstuff">
            <a href="/collection" id="circleButton"> < </a>
        </div>
    </div>
    <div class="weeks">
        <h2>(V 0.0.3 Week 3)</h2>
        <ul>
            <li>Added a patch notes page!</li>
            <li>added an achievements page (not working yet).</li>
            <li>Reformatted the main game to look less empty.</li>
            <li>fixed inventory and side bar not scaling in height when the window size changed.</li>
            <li>fixed some bugs with the income calculation.</li>
            <li>Changed your start value to make testing easier **-FOR NOW-**</li>
            <li>changed a lot of the css as a whole.</li>
        </ul>
    </div>
    <div class="weeks">
    <h2>(V 0.0.2 Week 2)</h2>
    <ul>
        <li>Added XP and Leveling system; each crate opened gives XP</li>
        <li>Gave patch logs a seperate page</li>
        <li>Moved the save, load, and reset button to the top right</li>
        <li>Starting hosting the game on formbar.js and node</li>
        <li>Removed the rarity sorting</li>
    </ul>
</div>
<div class="weeks">
    <h2>(V 0.0.1 Week 1)</h2>
    <ul>
        <li>Added stack bonuses; 3+ of one rarity increases income of that rarity by 1.5x [indicated by a white glow outline]; 
            all items will round to the nearest whole number</li>
        <li>Added sorting system from least to most rare</li>
        <li>Added cards for each rarity, including income and sell value</li>
        <li>Added scrollbar for the inventory rather than the website page</li>
        <li>Removed JSONS of rarities and crates to eliminate unnecessary redundancy</li>
        <li>Removed the dropdown for deleting items in the inventory; now each card has its own sell button</li>
        <li>Removed page scrolling; all data is stored on the single screen</li>
        <li>Added a failsafe that if all items are sold, then money will equal 200</li>
        <li>Edited the names of the crates to match their higher rarity chances</li>
        <li>Added Github functionality for collaboration</li>
    </ul>
</div>
</body>
</html>