<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patch Notes</title>
    <link rel="stylesheet" href="../static/css/patch.css">
</head>
<body>
    <h1>Patch Notes! '(V 0.0.2 Week 6)'</h1>
    <p></p>
</body>
</html>