body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 135px;
}

h1 {
    color: whitesmoke;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}

li {
    list-style: none;
}

#leadBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(158, 84, 158);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.leftstuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 20px;
}

#circleButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 75px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

#circleButton:hover {
    background-color: #e0e0e0;
}

/* Table Container */
.board {
    margin: 200px auto 60px auto;
    background: rgb(158, 84, 158);
}

/* Table Header */
.board thead {
    background: rgba(255, 255, 255, 0.15);
}

.board th {
    padding: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* Table Rows */
.board td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
}

.board tr:hover {
    background: rgba(255, 255, 255, 0.08);
}

.infobtn {
    width: 120px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0); /* transparent */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.infobtn:hover {
    background-color: rgba(187, 126, 187, 0.733)
}

#flexcont {
    display: flex;
    justify-content: center;  
}

#details {
    color: rgb(255, 255, 255);
    background-color: rgb(187, 126, 187);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    width: 500px;
    min-height: 600px;
    height: auto;
    text-align: center;
    margin-right: 200px;
}