body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;
}

h1 {
    color: whitesmoke;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#achievementsButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#patchNotesButton {
    margin-top: 0px;
    /* idk why bro */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#leaderboardButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#chatRoomButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

#income {
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

li {
    list-style: none;
}

.list {
    margin: 0px;
    font-size: 18px;
    color: white;
}

ul {
    padding: 0px;
}

#collectBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #de5aff, #582563);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#centerlayout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    /* Allows stacking on small screens */
}

.leftstuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.rightstuff {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#money {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 35px;
}

/* search button */
#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 10px;
}

#searchbox {
    background-color: #e6e6e6;
    border: transparent;
    border-radius: 10px;
    width: 400px;
    padding: 4px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    cursor: text;
    scale: 0.85;
}

#selectSort {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    width: 300px;
    color: #000000;
    background-color: #fff0f5;
    border: transparents;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sellAll {
    border: transparent;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    height: 25px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #659c54;
    cursor: pointer;
}

#sellAll:hover {
    background-color: #568548;
}

option {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 18px;
}

#searchbtn {
    background-color: #ecdcdc;
    border: transparent;
    border-radius: 10px;
    padding: 7px;
    width: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 18px;
    cursor: pointer;
    scale: 0.85;
}

#searchbtn:hover {
    background-color: #d4bebe;
}

#sortcont {
    background-color: #3e1e42;
    margin: 10px;
    padding: 10px;
    border: transparent;
    border-radius: 10px;
}

/* settings */
#settings {
    margin-top: 8px;
    top: 100px;
    right: 20px;
    background-color: #7d6381;
    width: 400px;
    padding-bottom: 10px;
    min-height: auto;
    height: auto;
    border-radius: 10px;
    text-align: center;
    position: static;
    flex-shrink: 1;
}

.crate {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 14px;
    width: 300px;
    margin: 20px 10px -15px 45px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 22px;
    cursor: pointer;
    display: block;
    border: transparent;
}

.buym {
    border: transparent;
    box-shadow: 0 0 5px black;
    border-radius: 45px;
    width: 100px;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

#crate1_b5 {
    background-color: rgb(245, 88, 88);  
}

#crate1_b10 {
    background-color: rgb(245, 88, 88); 
}

#crate1_b5:hover {
    background-color: rgb(184, 66, 66); 
    box-shadow: 0 0 30px white;
}

#crate1_b10:hover {
    background-color: rgb(184, 66, 66); 
    box-shadow: 0 0 30px white;
}

/* crate 1 */
#crate1 {
    background-color: rgb(245, 88, 88); 
}

#crate1:hover {
    background-color: rgb(184, 66, 66); 
    box-shadow: 0 0 30px white;
}

#crate2_b5 {
    background-color: rgb(250, 250, 114);
}

#crate2_b10 {
    background-color: rgb(250, 250, 114);
}

#crate2_b5:hover {
    background-color: rgb(196, 196, 91);
    box-shadow: 0 0 30px white;
}

#crate2_b10:hover {
    background-color: rgb(196, 196, 91);
    box-shadow: 0 0 30px white;
}

/* crate 2 */
#crate2 {
    background-color: rgb(250, 250, 114);
}

#crate2:hover {
    background-color: rgb(196, 196, 91);
    box-shadow: 0 0 30px white;
}

#crate3_b5 {
    background-color: rgb(128, 255, 128);
}

#crate3_b10 {
    background-color: rgb(128, 255, 128);
}

#crate3_b5:hover {
    background-color: rgb(94, 179, 94);
    box-shadow: 0 0 30px white;
}

#crate3_b10:hover {
    background-color: rgb(94, 179, 94);
    box-shadow: 0 0 30px white;
}

/* crate 3 */
#crate3 {
    background-color: rgb(128, 255, 128);
}

#crate3:hover {background-color: rgb(94, 179, 94);
    box-shadow: 0 0 30px white;
}

#crate4_b5 {
    background-color: lightskyblue;
}

#crate4_b10 {
    background-color: lightskyblue;
}

#crate4_b5:hover {
    background-color: rgb(101, 152, 184);
    box-shadow: 0 0 30px white;
}

#crate4_b10:hover {
    background-color: rgb(101, 152, 184);
    box-shadow: 0 0 30px white;
}

/* crate 4 */
#crate4 {
    background-color: lightskyblue;
}

#crate4:hover {
    background-color: rgb(101, 152, 184);
    box-shadow: 0 0 30px white;
}

#crate5_b5 {
    background-color: rgb(219, 143, 255);
}

#crate5_b10 {
    background-color: rgb(219, 143, 255);
}

#crate5_b5:hover {
    background-color: rgb(162, 107, 187);
    box-shadow: 0 0 30px white;
}

#crate5_b10:hover {
    background-color: rgb(162, 107, 187);
    box-shadow: 0 0 30px white;
}

/* crate 5 */
#crate5 {
    background-color: rgb(219, 143, 255);
}

#crate5:hover {
    background-color: rgb(162, 107, 187);
    box-shadow: 0 0 30px white;
}

.infobtn {
    background-color: #ffffff;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
    scale: 1.1;
}

.infobtn:hover {
    background-color: #d4d4d4;
}

#inventory {
    background-color: #33122e;
    border-radius: 6px;
    padding: 20px;
    min-width: 300px;
    max-width: 1425px;
    margin: 8px auto;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 37px;
    overflow-y: auto;
    min-height: 175px;
    max-height: 90vh;
    position: static;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}

#stats {
    border: transparent;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #443546;
}

.mergebtn {
    background-color: rgb(230, 230, 124);
    border: transparent;
    border-radius: 45px;
    padding: 8px;
    width: 100px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

.mergebtn:hover {
    background-color: rgb(134, 132, 17);
}

#sellbtn {
    background-color: #79c761;
    border: transparent;
    margin-top: 0px;
    border-radius: 45px;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

#sellbtn:hover {
    background-color: green;
}

/* Scrollbar track (background) */
#inventory::-webkit-scrollbar {
    width: 15px;
    /* width of vertical scrollbar */
    border-radius: 3px;
}

/* Scrollbar track */
#inventory::-webkit-scrollbar-track {
    background: #4b2b46;
}

/* Scrollbar thumb (the draggable handle) */
#inventory::-webkit-scrollbar-thumb {
    background-color: #a3a1a3;
    /* color of the thumb */
}

/* Scrollbar thumb on hover */
#inventory::-webkit-scrollbar-thumb:hover {
    background-color: #391b3f;
}

/* inventory items */
.item {
    border: transparent;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    background-color: rgb(66, 51, 66);
    min-width: 120px;
    height: 220px;
}

.item.highlight {
    outline: 3px solid white;
    outline-offset: -3px;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}

hr {
    border: 1px solid #181616;
    margin: 10px 0;
}

#XPTxt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* PB */
progress {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

/* empty */
progress::-webkit-progress-bar {
    background: #ddd;
    border-radius: 10px;
}

/* fill */
progress::-webkit-progress-value {
    border-radius: 10px;
    background: lightskyblue;
}

#patchNotesButton:hover {
    background-image: linear-gradient(to right, #5502f0, #0161a1);
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

#achievementsButton:hover {
    background-image: linear-gradient(to right, #5502f0, #0161a1);
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

#leaderboardButton:hover {
    background-image: linear-gradient(to right, #5502f0, #0161a1);
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

#chatRoomButton:hover {
    background-image: linear-gradient(to right, #5502f0, #0161a1);
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

#save {
    border-radius: 10px;
}

#save:hover, #darkmode:hover {
    background-color: #ffffff17;
    box-shadow: 0 0 5px black;
}

.imgbtn {
    border-radius: 40px;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.pageButtons {
    font-size: large;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: transparent;
    scale: 0.8;
    font-weight: bold;
}

#useWish {
    background-image: linear-gradient(to right, #ffc72c, #fff27d);
    border: 4px solid red;
    color: red;
    border-radius: 55px;
    height: 100px;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
    box-shadow: 0 0 5px black;
}

#useWish:hover {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

#customConfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirm-content {
    background-color: #ffe600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: 3px solid red;
    border-radius: 5px;
    text-align: center;
    color: red;
    /* Custom text color */
}

.confirmbtn {
    background-color: #ffe600;
    border: 4px solid red;
    color: red;
    border-radius: 55px;
    height: 60px;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

.confirmbtn:hover {
    background-color: #ffb800;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-descCont {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    margin-left: 70px;
    text-align: left;
    pointer-events: none;
}

.tooltip-desc {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    border: 4px solid #888888;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1001;
    left: -70%;
    bottom: -740%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 70px;
    text-align: left;
    width: 170px;
    height: 250px;
    scale: 0.7;
    pointer-events: none;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-descCont:hover .tooltip-desc {
    visibility: visible;
    opacity: 1;
}

#titlecont {
    display: flex;
    align-items: center;
    gap: 4px;
}

#infov {
    scale: 0.8;
}

#desc {
    scale: 0.6;
    width: 90px;
    background-color: rgba(241, 193, 241, 0.39);
    border: none;
}

#desc:hover {
    background-color: rgba(241, 193, 241, 0.7);
}

.tooltip-text-version {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 30%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    margin-left: 20px;
    text-align: left;
    pointer-events: none;
}

.tooltip-container:hover .tooltip-text-version {
    visibility: visible;
    opacity: 1;
}

#XPinfo {
    display: flex;
    justify-content: center;
}

#userCont {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -30px;

}

#userPic {
    border-radius: 50%;
    margin-top: -10px;
    margin-left: 30px;
    cursor: pointer;
}

#pfpChanger {
    background-color: #9f75a5;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    z-index: 1;
    position: fixed;
    display: none;
}

#closePfpChanger {
    background-color: rgb(255, 233, 233);
    border: transparent;
    border-radius: 10%;
    width: 70px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
}

#closePfpChanger:hover {
    background-color: rgb(112, 106, 106);
}

#filepfp {
    margin-top: 10px;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    background-color: rgb(112, 48, 165);
}